extends layout

block vars
  - var title='Variety.js plugin directory'

block content
  #posts
    each plugin in plugins
      section.post
        header.post-header
          h2.post-title #{plugin.name}
          div.post-description
            p= plugin.description
            a.pure-button.pure-button-primary(href='/details/#{plugin.name}') Details
