extends layout

block vars
  - var title="Service status"

block content

  h2 Service status

  | <script type="text/javascript">
  | monitis_embed_module_id="1232241230";
  | monitis_embed_module_width="500";
  | monitis_embed_module_height="350";
  | monitis_embed_module_readonlyChart="true";
  | monitis_embed_module_readonlyDateRange="true";
  | monitis_embed_module_detailedError="false";
  | </script>
  | <script type="text/javascript" src="http://dashboard.monitor.us/sharedModule/shareModule.js"></script>
  | <noscript><a href="http://www.monitor.us">Monitoring by Monitor.Us. Please enable JavaScript to see the report!</a> </noscript>